In [1]:
!pip install meteostat

Collecting meteostat
  Downloading meteostat-1.6.7-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: pandas>=1.1 in /Users/marissazhang/opt/anaconda3/lib/python3.9/site-packages (from meteostat) (1.4.2)
Requirement already satisfied: pytz in /Users/marissazhang/opt/anaconda3/lib/python3.9/site-packages (from meteostat) (2021.3)
Requirement already satisfied: numpy in /Users/marissazhang/opt/anaconda3/lib/python3.9/site-packages (from meteostat) (1.21.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/marissazhang/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/marissazhang/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=1.1->meteostat) (1.16.0)
Downloading meteostat-1.6.7-py3-none-any.whl (31 kB)
Installing collected packages: meteostat
Successfully installed meteostat-1.6.7

In [67]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily
import pandas as pd
from bs4 import BeautifulSoup
import requests
import sqlite3

In [7]:
# Set time period
start = datetime(1999, 1, 1)
end = datetime(1999, 12, 31)

# Create Point for Vancouver, BC
vancouver = Point(49.2497, -123.1193, 70)

# Get daily data for 2018
data = Daily(vancouver, start, end)
data = data.fetch()

In [8]:
data

            tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
time
1999-01-01   4.3   2.4   6.2   0.0   NaN   NaN   7.6   NaN  1032.0   NaN
1999-01-02   2.4  -0.7   5.9   0.0   NaN   NaN   5.8   NaN  1034.8   NaN
1999-01-03   0.9  -0.8   5.7   0.0   NaN   NaN   6.8   NaN  1031.3   NaN
1999-01-04   3.5   3.6   7.3   0.0   NaN   NaN   3.4   NaN  1027.7   NaN
1999-01-05   4.6   3.3   8.3   0.0   NaN   NaN   NaN   NaN     NaN   NaN
...          ...   ...   ...   ...   ...   ...   ...   ...     ...   ...
1999-12-27   2.4   1.1   3.2   0.0   0.0   NaN   NaN   NaN     NaN   NaN
1999-12-28   1.2   0.9   3.3   0.0   0.0   NaN   4.8   NaN  1030.4   NaN
1999-12-29   2.0   1.2   4.9   0.0   0.0   NaN   6.6   NaN  1026.7   NaN
1999-12-30   3.9   3.8   5.6   2.4   0.0   NaN   5.4   NaN  1023.0   NaN
1999-12-31   3.4   2.9   4.5   7.0   0.0   NaN  14.3   NaN  1014.8   NaN

[365 rows x 10 columns]

In [12]:
import requests
import json

urlbase = 'http://maps.googleapis.com/maps/api/geocode/json?sensor=false&address='
urlend = 'Madison,WI,USA'

r = requests.get(urlbase+urlend) # request to google maps api

ddr=r.json()
if r.get('results'):
    for results in r.get('results'):
        latlong = results.get('geometry','').get('location','')
        latitude = latlong.get('lat','')
        longitude = latlong.get('lng','')
        break
        print(latitude, longitude)

else:
    print ('No results')
print(r)

No results
{'error_message': 'You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account', 'results': [], 'status': 'REQUEST_DENIED'}

In [ ]:
AIzaSyD95rx87UlvpYoqNsGmKE1gUkq2O66mLr4

In [ ]:
import sqlite3
import requests

# SQLite database file
db_file = "dataset.db"

# Connect to the database
conn = sqlite3.connect(db_file)
cursor = conn.cursor()


cursor.execute('''
    CREATE TABLE IF NOT EXISTS weather (
        latitude REAL,
        longitude REAL,
        date TEXT,
        tavg REAL,
        tmin REAL,
        tmax REAL,
        snow REAL,
        PRIMARY KEY (latitude, longitude),
        FOREIGN KEY (latitude, longitude) REFERENCES location (latitude, longitude)
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS skiInfo (
        resort_name TEXT PRIMARY KEY,
        url TEXT,
        daily_ticket_price REAL,
        num_of_green INTEGER,
        num_of_blue INTEGER,
        num_of_black INTEGER,
        FOREIGN KEY (resort_name) REFERENCES location (resort_name)
    )
''')


weather_data = [(latitude, longitude, "2024-02-24", 25.0, 20.0, 30.0, 10.0),
                # Add more weather data as needed
               ]
cursor.executemany('''
    INSERT INTO weather (latitude, longitude, date, tavg, tmin, tmax, snow)
    VALUES (?, ?, ?, ?, ?, ?, ?)
''', weather_data)

ski_info_data = [("Resort1", "https://resort1.com", 50.0, 5, 10, 3),
                 ("Resort2", "https://resort2.com", 60.0, 7, 8, 5),
                 # Add more ski resort data as needed
                ]
cursor.executemany('''
    INSERT INTO skiInfo (resort_name, url, daily_ticket_price, num_of_green, num_of_blue, num_of_black)
    VALUES (?, ?, ?, ?, ?, ?)
''', ski_info_data)

# Commit the changes and close the connection
conn.commit()
conn.close()

## Table location(resort_name, latitude, longitude, location_catalog, state, city, zipcode, address, url)

In [89]:
# Extract relevant information
url = "https://en.m.wikipedia.org/wiki/List_of_ski_areas_and_resorts_in_the_United_States"

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.content, 'html.parser')
    # print(soup)

    # Extract relevant information
    sections = soup.find_all(['h2', 'h3'])
    data = []

    location_catalog = ''  # Initialize location_catalog outside the loop

    for section in sections:
        if section.name == 'h2':
            headline = section.find('span', {'class': 'mw-headline'})
            if headline and ' (' in headline.text.strip():
                #print(headline.text.strip())
                location_catalog = headline.text.strip()
                location_catalog = location_catalog.split(' (')[0] 
                #print(location_catalog)
        elif section.name == 'h3' and 'mw-headline' in section.span.attrs.get('class', []):
            state = section.span.a.get('title')
            if ' (' in state:
                state = state.split(' (')[0] 
            resort_list = section.find_next('ul')
            resorts = resort_list.find_all('li')
            #print(resorts)
            for resort in resorts:
                if resort:
                    resort_name = resort.text.strip()
                    resort_name = resort_name.split(' (')[0] if ' (' in resort_name else resort_name
                    #print(resort_name)
                    data.append({'location_catalog': location_catalog, 'state': state, 'resort_name': resort_name})

    # Create DataFrame
    ski_df = pd.DataFrame(data)
    #print(df)

In [90]:
ski_df

    location_catalog        state                          resort_name
0        New England  Connecticut  Mohawk Mountain Ski Area â€” Cornwall
1        New England  Connecticut      Mount Southington â€” Plantsville
2        New England  Connecticut  Powder Ridge Ski Area â€” Middlefield
3        New England  Connecticut           Ski Sundown â€” New Hartford
4        New England        Maine             Baker Mountain â€” Bingham
..               ...          ...                                  ...
461       West Coast   Washington                             Alpental
462       West Coast   Washington                       Summit Central
463       West Coast   Washington                          Summit East
464       West Coast   Washington                          Summit West
465       West Coast   Washington              White Pass â€” White Pass

[466 rows x 3 columns]

In [98]:
ski_df.groupby(["location_catalog","state"]).count()

                                 resort_name
location_catalog state
Mid-Atlantic     Maryland                  1
                 New Jersey                4
                 New York                 36
                 Pennsylvania             22
Midwest          Illinois                  5
                 Indiana                   2
                 Iowa                      4
                 Michigan                 34
                 Minnesota                17
                 Missouri                  2
                 North Dakota              3
                 Ohio                      5
                 South Dakota              3
                 Wisconsin                36
New England      Connecticut               4
                 Maine                    19
                 Massachusetts            12
                 New Hampshire            29
                 Rhode Island              1
                 Vermont                  27
Rocky Mountains  Arizona                   4
                 Colorado                 33
                 Idaho                    19
                 Montana                  16
                 New Mexico                9
                 Utah                     15
                 Wyoming                  11
Southeast        Alabama                   1
                 North Carolina            6
                 Tennessee                 1
                 Texas                     1
                 Virginia                  4
                 West Virginia             5
West Coast       Alaska                    8
                 California               29
                 Nevada                    5
                 Oregon                   12
                 Washington               21

In [86]:
# Function to get location details from Google Maps API
def get_location_details(resort_name, api_key):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {"address": resort_name, "key": api_key}

    response = requests.get(base_url, params=params)
    data = response.json()

    if data["status"] == "OK":
        result = data["results"][0]
        location = result["geometry"]["location"]
        address_components = result["address_components"]

        # Extracting relevant information
        latitude, longitude = location["lat"], location["lng"]
        address = result.get("formatted_address", "")
        state = next((component["long_name"] for component in address_components if "administrative_area_level_1" in component["types"]), "")
        city = next((component["long_name"] for component in address_components if "locality" in component["types"]), "")
        zipcode = next((component["long_name"] for component in address_components if "postal_code" in component["types"]), "")
        address = result.get("formatted_address", "")
        
        elevation_url = f'https://maps.googleapis.com/maps/api/elevation/json?locations={latitude},{longitude}&key={api_key}'
        elevation_response = requests.get(elevation_url)
        elevation_data = elevation_response.json()

        if elevation_data["status"] == "OK" and elevation_data.get("results"):
            elevation = elevation_data["results"][0].get("elevation")
        else:
            elevation = None

        #Use Places API to get additional details
        places_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
        places_params = {
            "input": resort_name,
            "inputtype": "textquery",
            "fields": "place_id",
            "key": api_key
        }

        places_response = requests.get(places_url, params=places_params)
        places_data = places_response.json()

        if places_data.get("status") == "OK" and places_data.get("candidates"):
            place_id = places_data["candidates"][0]["place_id"]

            # Use Place Details API to get website
            details_url = f'https://maps.googleapis.com/maps/api/place/details/json?place_id={place_id}&key={api_key}'
            details_response = requests.get(details_url)
            details_data = details_response.json()
            url = details_data["result"].get("website", "")

            return latitude, longitude, elevation, state, city, zipcode, address, url
        else:
            return latitude, longitude, elevation, state, city, zipcode, address, None
    else:
        return None, None, None, None, None, None, None, None

In [84]:
# conn = sqlite3.connect(db_file)
# cursor = conn.cursor()

# # Drop the location table if it exists
# cursor.execute('DROP TABLE IF EXISTS location')

# # Commit the changes and close the connection
# conn.commit()
# conn.close()

In [92]:
# SQLite database file
db_file = "skiDataset.db"

# Connect to the database
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

# Create table location
cursor.execute('''
    CREATE TABLE IF NOT EXISTS location (
        resort_name TEXT PRIMARY KEY,
        latitude REAL,
        longitude REAL,
        elevation REAL,
        location_catalog TEXT,
        state TEXT,
        city TEXT,
        zipcode TEXT,
        address TEXT,
        url TEXT
    )
''')

# get the latitude, longtitude from google maps API and insert into databse
api_key = 'HIDDEN'
for index, row in ski_df.iterrows():
    location_catalog = row['location_catalog']
    resort_name = row['resort_name']
    latitude, longitude, elevation, state, city, zipcode, address, url = get_location_details(resort_name, api_key)
    cursor.execute('''
    INSERT INTO location (resort_name, latitude, longitude, elevation, location_catalog, state, city, zipcode, address, url)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
''', (resort_name, latitude, longitude, elevation, location_catalog, state, city, zipcode, address, url))
    
# Commit the changes and close the connection
conn.commit()
conn.close()

## Table weather (latitude, longitude, elevation, date, tavg, tmin, tmax, snow)

In [103]:
start = datetime(2024, 1, 1)
end = datetime(2024, 3, 30 )
def getWeather(latitude, longitude, elevation, start, end):
    point = Point(round(latitude), round(longitude), round(elevation))
    data = Daily(point, start, end)
    return data.fetch()[["tavg", "tmin", "tmax", "snow"]].fillna(0)
df = getWeather(41, -73,  279 , start, end)
df

            tavg  tmin  tmax  snow
time
2024-01-01   2.2  -1.5   5.7   0.0
2024-01-02  -1.4  -4.8   3.5   0.0
2024-01-03   0.4  -5.4   4.6   0.0
2024-01-04   1.3  -2.6   4.1   0.0
2024-01-05  -2.9  -5.4   0.7   0.0
...          ...   ...   ...   ...
2024-03-01   9.1   2.7  12.7   0.0
2024-03-02   4.9   1.1  11.6   0.0
2024-03-03   3.6   0.5   9.4   0.0
2024-03-04   5.8   0.5  12.2   0.0
2024-03-05   5.8  -0.4  11.3   0.0

[65 rows x 4 columns]

In [ ]:
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS weather (
        latitude REAL,
        longitude REAL,
        date TEXT,
        tavg REAL,
        tmin REAL,
        tmax REAL,
        snow REAL,
        PRIMARY KEY (latitude, longitude),
        FOREIGN KEY (latitude, longitude) REFERENCES location (latitude, longitude)
    )
''')
cursor.executemany('''
    INSERT INTO weather (latitude, longitude, date, tavg, tmin, tmax, snow)
    VALUES (?, ?, ?, ?, ?, ?, ?)
''', weather_data)
# Commit the changes and close the connection
conn.commit()
conn.close()

In [112]:
# coding: utf-8
import requests
start = "2024-01-01"
end = "2024-02-24"
access_key = "HIDDEN"
coordinate = ""
params = {
    'access_key': access_key,
    'query': coordinate,
    'historical_date_start' : start,
    'historical_date_end' : end,
    'unit': 'm'
}

api_result = requests.get('http://api.weatherstack.com/historical', params)

api_response = api_result.json()
#print(api_response)
data_rows = []
past_data = dict(api_response["historical"])
for date, info in past_data.items():
    info = dict(info)
    mintemp = info["mintemp"]
    maxtemp = info["maxtemp"]
    avgtemp = info["avgtemp"]
    snowfall = info["totalsnow"]
    data_rows.append([date, mintemp, maxtemp, avgtemp, snowfall])
columns = ["date", "mintemp", "maxtemp", "avgtemp", "snowfall"]
past_data_df = pd.DataFrame(data_rows, columns=columns)

{'request': {'type': 'City', 'query': 'Ski Mountain, United States of America', 'language': 'en', 'unit': 'm'}, 'location': {'name': 'Ski Mountain', 'country': 'United States of America', 'region': 'North Carolina', 'lat': '36.152', 'lon': '-81.665', 'timezone_id': 'America/New_York', 'localtime': '2024-02-24 16:29', 'localtime_epoch': 1708792140, 'utc_offset': '-5.0'}, 'current': {'observation_time': '09:29 PM', 'temperature': 1, 'weather_code': 122, 'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png'], 'weather_descriptions': ['Overcast'], 'wind_speed': 20, 'wind_degree': 310, 'wind_dir': 'NW', 'pressure': 1004, 'precip': 0.2, 'humidity': 86, 'cloudcover': 100, 'feelslike': -5, 'uv_index': 2, 'visibility': 16, 'is_day': 'yes'}, 'historical': {'2024-01-01': {'date': '2024-01-01', 'date_epoch': 1704067200, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:23 PM', 'moonrise': '10:49 PM', 'moonset': '11:16 AM', 'moon_phase': 'Waning Gibbous', 'moon_illumination': 61}, 'mintemp': -4, 'maxtemp': 3, 'avgtemp': 0, 'totalsnow': 0, 'sunhour': 7, 'uv_index': 2}, '2024-01-02': {'date': '2024-01-02', 'date_epoch': 1704153600, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:24 PM', 'moonrise': '11:46 PM', 'moonset': '11:38 AM', 'moon_phase': 'Waning Gibbous', 'moon_illumination': 54}, 'mintemp': -5, 'maxtemp': 4, 'avgtemp': -2, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 1}, '2024-01-03': {'date': '2024-01-03', 'date_epoch': 1704240000, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:25 PM', 'moonrise': 'No moonrise', 'moonset': '12:00 PM', 'moon_phase': 'Last Quarter', 'moon_illumination': 47}, 'mintemp': -2, 'maxtemp': 6, 'avgtemp': 0, 'totalsnow': 0.1, 'sunhour': 5, 'uv_index': 2}, '2024-01-04': {'date': '2024-01-04', 'date_epoch': 1704326400, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:25 PM', 'moonrise': '12:43 AM', 'moonset': '12:22 PM', 'moon_phase': 'Last Quarter', 'moon_illumination': 40}, 'mintemp': -5, 'maxtemp': 3, 'avgtemp': -1, 'totalsnow': 0, 'sunhour': 8, 'uv_index': 1}, '2024-01-05': {'date': '2024-01-05', 'date_epoch': 1704412800, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:26 PM', 'moonrise': '01:42 AM', 'moonset': '12:47 PM', 'moon_phase': 'Last Quarter', 'moon_illumination': 32}, 'mintemp': -5, 'maxtemp': 2, 'avgtemp': -2, 'totalsnow': 0, 'sunhour': 3, 'uv_index': 2}, '2024-01-06': {'date': '2024-01-06', 'date_epoch': 1704499200, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:27 PM', 'moonrise': '02:43 AM', 'moonset': '01:16 PM', 'moon_phase': 'Waning Crescent', 'moon_illumination': 25}, 'mintemp': -3, 'maxtemp': 4, 'avgtemp': 0, 'totalsnow': 6.9, 'sunhour': 1, 'uv_index': 2}, '2024-01-07': {'date': '2024-01-07', 'date_epoch': 1704585600, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:28 PM', 'moonrise': '03:48 AM', 'moonset': '01:50 PM', 'moon_phase': 'Waning Crescent', 'moon_illumination': 18}, 'mintemp': -2, 'maxtemp': 3, 'avgtemp': 0, 'totalsnow': 1.2, 'sunhour': 2, 'uv_index': 1}, '2024-01-08': {'date': '2024-01-08', 'date_epoch': 1704672000, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:29 PM', 'moonrise': '04:56 AM', 'moonset': '02:32 PM', 'moon_phase': 'Waning Crescent', 'moon_illumination': 10}, 'mintemp': -7, 'maxtemp': 4, 'avgtemp': -2, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 1}, '2024-01-09': {'date': '2024-01-09', 'date_epoch': 1704758400, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:30 PM', 'moonrise': '06:05 AM', 'moonset': '03:25 PM', 'moon_phase': 'Waning Crescent', 'moon_illumination': 3}, 'mintemp': -2, 'maxtemp': 9, 'avgtemp': 3, 'totalsnow': 17.5, 'sunhour': 2, 'uv_index': 1}, '2024-01-10': {'date': '2024-01-10', 'date_epoch': 1704844800, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:31 PM', 'moonrise': '07:10 AM', 'moonset': '04:29 PM', 'moon_phase': 'New Moon', 'moon_illumination': 0}, 'mintemp': -4, 'maxtemp': 1, 'avgtemp': -2, 'totalsnow': 1.3, 'sunhour': 9, 'uv_index': 1}, '2024-01-11': {'date': '2024-01-11', 'date_epoch': 1704931200, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:32 PM', 'moonrise': '08:07 AM', 'moonset': '05:42 PM', 'moon_phase': 'New Moon', 'moon_illumination': 0}, 'mintemp': -5, 'maxtemp': 6, 'avgtemp': 0, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 1}, '2024-01-12': {'date': '2024-01-12', 'date_epoch': 1705017600, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:33 PM', 'moonrise': '08:56 AM', 'moonset': '06:59 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 4}, 'mintemp': -2, 'maxtemp': 5, 'avgtemp': 1, 'totalsnow': 5.5, 'sunhour': 5, 'uv_index': 2}, '2024-01-13': {'date': '2024-01-13', 'date_epoch': 1705104000, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:34 PM', 'moonrise': '09:36 AM', 'moonset': '08:15 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 11}, 'mintemp': -6, 'maxtemp': 4, 'avgtemp': -2, 'totalsnow': 0.1, 'sunhour': 5, 'uv_index': 2}, '2024-01-14': {'date': '2024-01-14', 'date_epoch': 1705190400, 'astro': {'sunrise': '07:38 AM', 'sunset': '05:35 PM', 'moonrise': '10:09 AM', 'moonset': '09:29 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 18}, 'mintemp': -6, 'maxtemp': -2, 'avgtemp': -4, 'totalsnow': 0, 'sunhour': 9, 'uv_index': 2}, '2024-01-15': {'date': '2024-01-15', 'date_epoch': 1705276800, 'astro': {'sunrise': '07:37 AM', 'sunset': '05:35 PM', 'moonrise': '10:39 AM', 'moonset': '10:40 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 26}, 'mintemp': -5, 'maxtemp': 1, 'avgtemp': -3, 'totalsnow': 2, 'sunhour': 3, 'uv_index': 1}, '2024-01-16': {'date': '2024-01-16', 'date_epoch': 1705363200, 'astro': {'sunrise': '07:37 AM', 'sunset': '05:36 PM', 'moonrise': '11:07 AM', 'moonset': '11:50 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 33}, 'mintemp': -12, 'maxtemp': -1, 'avgtemp': -6, 'totalsnow': 0.6, 'sunhour': 6, 'uv_index': 1}, '2024-01-17': {'date': '2024-01-17', 'date_epoch': 1705449600, 'astro': {'sunrise': '07:37 AM', 'sunset': '05:37 PM', 'moonrise': '11:34 AM', 'moonset': 'No moonset', 'moon_phase': 'First Quarter', 'moon_illumination': 40}, 'mintemp': -16, 'maxtemp': -4, 'avgtemp': -11, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 1}, '2024-01-18': {'date': '2024-01-18', 'date_epoch': 1705536000, 'astro': {'sunrise': '07:36 AM', 'sunset': '05:39 PM', 'moonrise': '12:03 PM', 'moonset': '12:58 AM', 'moon_phase': 'First Quarter', 'moon_illumination': 47}, 'mintemp': -9, 'maxtemp': 2, 'avgtemp': -4, 'totalsnow': 0, 'sunhour': 5, 'uv_index': 2}, '2024-01-19': {'date': '2024-01-19', 'date_epoch': 1705622400, 'astro': {'sunrise': '07:36 AM', 'sunset': '05:40 PM', 'moonrise': '12:34 PM', 'moonset': '02:06 AM', 'moon_phase': 'First Quarter', 'moon_illumination': 55}, 'mintemp': -13, 'maxtemp': 0, 'avgtemp': -5, 'totalsnow': 2.5, 'sunhour': 7, 'uv_index': 1}, '2024-01-20': {'date': '2024-01-20', 'date_epoch': 1705708800, 'astro': {'sunrise': '07:36 AM', 'sunset': '05:41 PM', 'moonrise': '01:11 PM', 'moonset': '03:15 AM', 'moon_phase': 'First Quarter', 'moon_illumination': 62}, 'mintemp': -14, 'maxtemp': -11, 'avgtemp': -13, 'totalsnow': 0.5, 'sunhour': 7, 'uv_index': 1}, '2024-01-21': {'date': '2024-01-21', 'date_epoch': 1705795200, 'astro': {'sunrise': '07:35 AM', 'sunset': '05:42 PM', 'moonrise': '01:54 PM', 'moonset': '04:21 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 69}, 'mintemp': -16, 'maxtemp': 1, 'avgtemp': -9, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 1}, '2024-01-22': {'date': '2024-01-22', 'date_epoch': 1705881600, 'astro': {'sunrise': '07:35 AM', 'sunset': '05:43 PM', 'moonrise': '02:43 PM', 'moonset': '05:24 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 77}, 'mintemp': -9, 'maxtemp': 3, 'avgtemp': -4, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 2}, '2024-01-23': {'date': '2024-01-23', 'date_epoch': 1705968000, 'astro': {'sunrise': '07:34 AM', 'sunset': '05:44 PM', 'moonrise': '03:40 PM', 'moonset': '06:20 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 84}, 'mintemp': -4, 'maxtemp': 6, 'avgtemp': 1, 'totalsnow': 0, 'sunhour': 3, 'uv_index': 2}, '2024-01-24': {'date': '2024-01-24', 'date_epoch': 1706054400, 'astro': {'sunrise': '07:34 AM', 'sunset': '05:45 PM', 'moonrise': '04:40 PM', 'moonset': '07:09 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 91}, 'mintemp': 3, 'maxtemp': 7, 'avgtemp': 5, 'totalsnow': 0, 'sunhour': 1, 'uv_index': 1}, '2024-01-25': {'date': '2024-01-25', 'date_epoch': 1706140800, 'astro': {'sunrise': '07:33 AM', 'sunset': '05:46 PM', 'moonrise': '05:42 PM', 'moonset': '07:50 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 98}, 'mintemp': 7, 'maxtemp': 14, 'avgtemp': 10, 'totalsnow': 0, 'sunhour': 1, 'uv_index': 3}, '2024-01-26': {'date': '2024-01-26', 'date_epoch': 1706227200, 'astro': {'sunrise': '07:32 AM', 'sunset': '05:47 PM', 'moonrise': '06:43 PM', 'moonset': '08:24 AM', 'moon_phase': 'Full Moon', 'moon_illumination': 100}, 'mintemp': 11, 'maxtemp': 16, 'avgtemp': 13, 'totalsnow': 0, 'sunhour': 2, 'uv_index': 3}, '2024-01-27': {'date': '2024-01-27', 'date_epoch': 1706313600, 'astro': {'sunrise': '07:32 AM', 'sunset': '05:48 PM', 'moonrise': '07:43 PM', 'moonset': '08:53 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 87}, 'mintemp': 10, 'maxtemp': 12, 'avgtemp': 11, 'totalsnow': 0, 'sunhour': 1, 'uv_index': 3}, '2024-01-28': {'date': '2024-01-28', 'date_epoch': 1706400000, 'astro': {'sunrise': '07:31 AM', 'sunset': '05:49 PM', 'moonrise': '08:40 PM', 'moonset': '09:18 AM', 'moon_phase': 'Waning Gibbous', 'moon_illumination': 80}, 'mintemp': 0, 'maxtemp': 10, 'avgtemp': 4, 'totalsnow': 1.2, 'sunhour': 2, 'uv_index': 1}, '2024-01-29': {'date': '2024-01-29', 'date_epoch': 1706486400, 'astro': {'sunrise': '07:30 AM', 'sunset': '05:50 PM', 'moonrise': '09:37 PM', 'moonset': '09:41 AM', 'moon_phase': 'Waning Gibbous', 'moon_illumination': 73}, 'mintemp': -3, 'maxtemp': 2, 'avgtemp': -1, 'totalsnow': 0.1, 'sunhour': 7, 'uv_index': 1}, '2024-01-30': {'date': '2024-01-30', 'date_epoch': 1706572800, 'astro': {'sunrise': '07:30 AM', 'sunset': '05:51 PM', 'moonrise': '10:33 PM', 'moonset': '10:03 AM', 'moon_phase': 'Waning Gibbous', 'moon_illumination': 65}, 'mintemp': -4, 'maxtemp': 4, 'avgtemp': 0, 'totalsnow': 1.1, 'sunhour': 3, 'uv_index': 1}, '2024-01-31': {'date': '2024-01-31', 'date_epoch': 1706659200, 'astro': {'sunrise': '07:29 AM', 'sunset': '05:52 PM', 'moonrise': '11:31 PM', 'moonset': '10:24 AM', 'moon_phase': 'Waning Gibbous', 'moon_illumination': 61}, 'mintemp': -2, 'maxtemp': 3, 'avgtemp': 1, 'totalsnow': 5.1, 'sunhour': 1, 'uv_index': 1}, '2024-02-01': {'date': '2024-02-01', 'date_epoch': 1706745600, 'astro': {'sunrise': '07:28 AM', 'sunset': '05:53 PM', 'moonrise': 'No moonrise', 'moonset': '10:48 AM', 'moon_phase': 'Last Quarter', 'moon_illumination': 45}, 'mintemp': -4, 'maxtemp': 9, 'avgtemp': 1, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 1}, '2024-02-02': {'date': '2024-02-02', 'date_epoch': 1706832000, 'astro': {'sunrise': '07:27 AM', 'sunset': '05:54 PM', 'moonrise': '12:29 AM', 'moonset': '11:14 AM', 'moon_phase': 'Last Quarter', 'moon_illumination': 38}, 'mintemp': -2, 'maxtemp': 4, 'avgtemp': 2, 'totalsnow': 0, 'sunhour': 4, 'uv_index': 2}, '2024-02-03': {'date': '2024-02-03', 'date_epoch': 1706918400, 'astro': {'sunrise': '07:27 AM', 'sunset': '05:55 PM', 'moonrise': '01:32 AM', 'moonset': '11:44 AM', 'moon_phase': 'Last Quarter', 'moon_illumination': 30}, 'mintemp': -2, 'maxtemp': 10, 'avgtemp': 3, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 1}, '2024-02-04': {'date': '2024-02-04', 'date_epoch': 1707004800, 'astro': {'sunrise': '07:26 AM', 'sunset': '05:56 PM', 'moonrise': '02:37 AM', 'moonset': '12:21 PM', 'moon_phase': 'Last Quarter', 'moon_illumination': 22}, 'mintemp': -1, 'maxtemp': 7, 'avgtemp': 2, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 2}, '2024-02-05': {'date': '2024-02-05', 'date_epoch': 1707091200, 'astro': {'sunrise': '07:25 AM', 'sunset': '05:57 PM', 'moonrise': '03:44 AM', 'moonset': '01:08 PM', 'moon_phase': 'Waning Crescent', 'moon_illumination': 15}, 'mintemp': -2, 'maxtemp': 9, 'avgtemp': 3, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 2}, '2024-02-06': {'date': '2024-02-06', 'date_epoch': 1707177600, 'astro': {'sunrise': '07:24 AM', 'sunset': '05:58 PM', 'moonrise': '04:50 AM', 'moonset': '02:06 PM', 'moon_phase': 'Waning Crescent', 'moon_illumination': 7}, 'mintemp': -1, 'maxtemp': 10, 'avgtemp': 3, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 2}, '2024-02-07': {'date': '2024-02-07', 'date_epoch': 1707264000, 'astro': {'sunrise': '07:23 AM', 'sunset': '05:59 PM', 'moonrise': '05:51 AM', 'moonset': '03:14 PM', 'moon_phase': 'New Moon', 'moon_illumination': 0}, 'mintemp': -2, 'maxtemp': 11, 'avgtemp': 3, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 2}, '2024-02-08': {'date': '2024-02-08', 'date_epoch': 1707350400, 'astro': {'sunrise': '07:22 AM', 'sunset': '06:00 PM', 'moonrise': '06:43 AM', 'moonset': '04:30 PM', 'moon_phase': 'New Moon', 'moon_illumination': 0}, 'mintemp': 1, 'maxtemp': 12, 'avgtemp': 5, 'totalsnow': 0, 'sunhour': 7, 'uv_index': 3}, '2024-02-09': {'date': '2024-02-09', 'date_epoch': 1707436800, 'astro': {'sunrise': '07:21 AM', 'sunset': '06:01 PM', 'moonrise': '07:28 AM', 'moonset': '05:48 PM', 'moon_phase': 'New Moon', 'moon_illumination': 0}, 'mintemp': 3, 'maxtemp': 11, 'avgtemp': 7, 'totalsnow': 0, 'sunhour': 3, 'uv_index': 3}, '2024-02-10': {'date': '2024-02-10', 'date_epoch': 1707523200, 'astro': {'sunrise': '07:20 AM', 'sunset': '06:02 PM', 'moonrise': '08:05 AM', 'moonset': '07:06 PM', 'moon_phase': 'New Moon', 'moon_illumination': 0}, 'mintemp': 8, 'maxtemp': 13, 'avgtemp': 10, 'totalsnow': 0, 'sunhour': 6, 'uv_index': 3}, '2024-02-11': {'date': '2024-02-11', 'date_epoch': 1707609600, 'astro': {'sunrise': '07:19 AM', 'sunset': '06:03 PM', 'moonrise': '08:37 AM', 'moonset': '08:20 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 8}, 'mintemp': 7, 'maxtemp': 10, 'avgtemp': 9, 'totalsnow': 0, 'sunhour': 1, 'uv_index': 2}, '2024-02-12': {'date': '2024-02-12', 'date_epoch': 1707696000, 'astro': {'sunrise': '07:18 AM', 'sunset': '06:04 PM', 'moonrise': '09:06 AM', 'moonset': '09:34 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 15}, 'mintemp': 8, 'maxtemp': 10, 'avgtemp': 9, 'totalsnow': 0, 'sunhour': 1, 'uv_index': 2}, '2024-02-13': {'date': '2024-02-13', 'date_epoch': 1707782400, 'astro': {'sunrise': '07:17 AM', 'sunset': '06:05 PM', 'moonrise': '09:34 AM', 'moonset': '10:45 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 23}, 'mintemp': 0, 'maxtemp': 10, 'avgtemp': 3, 'totalsnow': 0.2, 'sunhour': 7, 'uv_index': 1}, '2024-02-14': {'date': '2024-02-14', 'date_epoch': 1707868800, 'astro': {'sunrise': '07:16 AM', 'sunset': '06:06 PM', 'moonrise': '10:03 AM', 'moonset': '11:56 PM', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 30}, 'mintemp': -1, 'maxtemp': 7, 'avgtemp': 2, 'totalsnow': 0, 'sunhour': 11, 'uv_index': 2}, '2024-02-15': {'date': '2024-02-15', 'date_epoch': 1707955200, 'astro': {'sunrise': '07:15 AM', 'sunset': '06:07 PM', 'moonrise': '10:35 AM', 'moonset': 'No moonset', 'moon_phase': 'Waxing Crescent', 'moon_illumination': 38}, 'mintemp': 0, 'maxtemp': 11, 'avgtemp': 5, 'totalsnow': 0, 'sunhour': 10, 'uv_index': 2}, '2024-02-16': {'date': '2024-02-16', 'date_epoch': 1708041600, 'astro': {'sunrise': '07:14 AM', 'sunset': '06:08 PM', 'moonrise': '11:11 AM', 'moonset': '01:06 AM', 'moon_phase': 'First Quarter', 'moon_illumination': 45}, 'mintemp': 4, 'maxtemp': 9, 'avgtemp': 6, 'totalsnow': 0, 'sunhour': 9, 'uv_index': 2}, '2024-02-17': {'date': '2024-02-17', 'date_epoch': 1708128000, 'astro': {'sunrise': '07:12 AM', 'sunset': '06:09 PM', 'moonrise': '11:52 AM', 'moonset': '02:14 AM', 'moon_phase': 'First Quarter', 'moon_illumination': 53}, 'mintemp': -5, 'maxtemp': 7, 'avgtemp': -1, 'totalsnow': 3.2, 'sunhour': 7, 'uv_index': 1}, '2024-02-18': {'date': '2024-02-18', 'date_epoch': 1708214400, 'astro': {'sunrise': '07:11 AM', 'sunset': '06:10 PM', 'moonrise': '12:39 PM', 'moonset': '03:19 AM', 'moon_phase': 'First Quarter', 'moon_illumination': 60}, 'mintemp': -6, 'maxtemp': 4, 'avgtemp': -2, 'totalsnow': 0, 'sunhour': 4, 'uv_index': 2}, '2024-02-19': {'date': '2024-02-19', 'date_epoch': 1708300800, 'astro': {'sunrise': '07:10 AM', 'sunset': '06:11 PM', 'moonrise': '01:34 PM', 'moonset': '04:17 AM', 'moon_phase': 'First Quarter', 'moon_illumination': 68}, 'mintemp': -4, 'maxtemp': 9, 'avgtemp': 1, 'totalsnow': 0, 'sunhour': 11, 'uv_index': 1}, '2024-02-20': {'date': '2024-02-20', 'date_epoch': 1708387200, 'astro': {'sunrise': '07:09 AM', 'sunset': '06:12 PM', 'moonrise': '02:33 PM', 'moonset': '05:08 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 75}, 'mintemp': -3, 'maxtemp': 6, 'avgtemp': 1, 'totalsnow': 0.2, 'sunhour': 10, 'uv_index': 2}, '2024-02-21': {'date': '2024-02-21', 'date_epoch': 1708473600, 'astro': {'sunrise': '07:08 AM', 'sunset': '06:13 PM', 'moonrise': '03:34 PM', 'moonset': '05:51 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 83}, 'mintemp': -2, 'maxtemp': 9, 'avgtemp': 3, 'totalsnow': 0, 'sunhour': 11, 'uv_index': 2}, '2024-02-22': {'date': '2024-02-22', 'date_epoch': 1708560000, 'astro': {'sunrise': '07:06 AM', 'sunset': '06:14 PM', 'moonrise': '04:35 PM', 'moonset': '06:26 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 91}, 'mintemp': 1, 'maxtemp': 9, 'avgtemp': 5, 'totalsnow': 0, 'sunhour': 9, 'uv_index': 2}, '2024-02-23': {'date': '2024-02-23', 'date_epoch': 1708646400, 'astro': {'sunrise': '07:05 AM', 'sunset': '06:15 PM', 'moonrise': '05:35 PM', 'moonset': '06:56 AM', 'moon_phase': 'Waxing Gibbous', 'moon_illumination': 98}, 'mintemp': 4, 'maxtemp': 9, 'avgtemp': 7, 'totalsnow': 0, 'sunhour': 5, 'uv_index': 2}, '2024-02-24': {'date': '2024-02-24', 'date_epoch': 1708732800, 'astro': {'sunrise': '07:04 AM', 'sunset': '06:16 PM', 'moonrise': '06:33 PM', 'moonset': '07:22 AM', 'moon_phase': 'Full Moon', 'moon_illumination': 100}, 'mintemp': -3, 'maxtemp': 3, 'avgtemp': 1, 'totalsnow': 1.5, 'sunhour': 5, 'uv_index': 1}}}

KeyError: 'success'

In [119]:
data_rows = []
past_data = dict(api_response["historical"])
for date, info in past_data.items():
    info = dict(info)
    mintemp = info["mintemp"]
    maxtemp = info["maxtemp"]
    avgtemp = info["avgtemp"]
    snowfall = info["totalsnow"]
    data_rows.append([date, mintemp, maxtemp, avgtemp, snowfall])
columns = ["date", "mintemp", "maxtemp", "avgtemp", "snowfall"]
past_data_df = pd.DataFrame(data_rows, columns=columns)

# Display or use the past_data_df DataFrame as needed
print(past_data_df)

          date  mintemp  maxtemp  avgtemp  snowfall
0   2024-01-01       -4        3        0       0.0
1   2024-01-02       -5        4       -2       0.0
2   2024-01-03       -2        6        0       0.1
3   2024-01-04       -5        3       -1       0.0
4   2024-01-05       -5        2       -2       0.0
5   2024-01-06       -3        4        0       6.9
6   2024-01-07       -2        3        0       1.2
7   2024-01-08       -7        4       -2       0.0
8   2024-01-09       -2        9        3      17.5
9   2024-01-10       -4        1       -2       1.3
10  2024-01-11       -5        6        0       0.0
11  2024-01-12       -2        5        1       5.5
12  2024-01-13       -6        4       -2       0.1
13  2024-01-14       -6       -2       -4       0.0
14  2024-01-15       -5        1       -3       2.0
15  2024-01-16      -12       -1       -6       0.6
16  2024-01-17      -16       -4      -11       0.0
17  2024-01-18       -9        2       -4       0.0
18  2024-01-19      -13        0       -5       2.5
19  2024-01-20      -14      -11      -13       0.5
20  2024-01-21      -16        1       -9       0.0
21  2024-01-22       -9        3       -4       0.0
22  2024-01-23       -4        6        1       0.0
23  2024-01-24        3        7        5       0.0
24  2024-01-25        7       14       10       0.0
25  2024-01-26       11       16       13       0.0
26  2024-01-27       10       12       11       0.0
27  2024-01-28        0       10        4       1.2
28  2024-01-29       -3        2       -1       0.1
29  2024-01-30       -4        4        0       1.1
30  2024-01-31       -2        3        1       5.1
31  2024-02-01       -4        9        1       0.0
32  2024-02-02       -2        4        2       0.0
33  2024-02-03       -2       10        3       0.0
34  2024-02-04       -1        7        2       0.0
35  2024-02-05       -2        9        3       0.0
36  2024-02-06       -1       10        3       0.0
37  2024-02-07       -2       11        3       0.0
38  2024-02-08        1       12        5       0.0
39  2024-02-09        3       11        7       0.0
40  2024-02-10        8       13       10       0.0
41  2024-02-11        7       10        9       0.0
42  2024-02-12        8       10        9       0.0
43  2024-02-13        0       10        3       0.2
44  2024-02-14       -1        7        2       0.0
45  2024-02-15        0       11        5       0.0
46  2024-02-16        4        9        6       0.0
47  2024-02-17       -5        7       -1       3.2
48  2024-02-18       -6        4       -2       0.0
49  2024-02-19       -4        9        1       0.0
50  2024-02-20       -3        6        1       0.2
51  2024-02-21       -2        9        3       0.0
52  2024-02-22        1        9        5       0.0
53  2024-02-23        4        9        7       0.0
54  2024-02-24       -3        3        1       1.5

In [111]:
start

datetime.datetime(2024, 1, 1, 0, 0)